{% extends 'base.html' %}
{% block title %}
ACGPT812
{% endblock title %}
{% block content %}
<form method="get">
    <div class="col-lg-12">
        <div class="input-group">
    <span>
        <div class="form-group col-md-20">
      <select id="inputState" class="form-control" name="t">
        <option selected>Escolha o tipo de filtro</option>
          <option value="ie_remetente">Pesquisar por inscrição do remetente</option>
          <option value="nome_remetente">Pesquisar por nome do remetente</option>
          <option value="mun_remetente">Pesquisar por município do remetente</option>
          <option value="ie_destinatario">Pesquisar por inscrição do destinatário</option>
          <option value="nome_destinatario">Pesquisar por nome do destinatário</option>
          <option value="mun_destinatario">Pesquisar por município do destinatário</option>
      </select>
    </div>
    </span>
            <input type="text" class="form-control" name="q" placeholder="Buscar por filtro">
            <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Pesquisar</button>
      </span>
        </div>
    </div>
</form>
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>IE_REMETENTE</th>
                    <th>IE_SIMPLIFICADA</th>
                    <th>NOME_REMETENTE</th>
                    <th>COD</th>
                    <th>MUN_REMETENTE</th>
                    <th>IE_DESTINATARIO</th>
                    <th>NOME_DESTINATARIO</th>
                    <th>CODG</th>
                    <th>MUN_DESTINATARIO</th>
                    <th>NRO_NFPA</th>
                    <th>CFOP</th>
                    <th>VR_NFPA</th>
                    <th>REMESSA</th>
                    <th>DESCRIÇÃO</th>
                    <th>ANO EXERCÍCIO</th>
                    <th>ANO BASE</th>
                </tr>
                </thead>

                <tbody>
                {% for acgpt812 in order %}
                <tr>
                    <td>{{ acgpt812.ie_remetente }}</td>
                    <td>{{ acgpt812.ie_simplificada }}</td>
                    <td>{{ acgpt812.nome_remetente }}</td>
                    <td>{{ acgpt812.cod }}</td>
                    <td>{{ acgpt812.mun_remetente }}</td>
                    <td>{{ acgpt812.ie_destinatario }}</td>
                    <td>{{ acgpt812.nome_destinatario }}</td>
                    <td>{{ acgpt812.codg }}</td>
                    <td>{{ acgpt812.mun_destinatario }}</td>
                    <td>{{ acgpt812.nro_nfpa }}</td>
                    <td>{{ acgpt812.cfop }}</td>
                    <td>{{ acgpt812.vr_nfpa }}</td>
                    <td>{{ acgpt812.remessa }}</td>
                    <td>{{ acgpt812.descricao }}</td>
                    <td>{{ acgpt812.ano_exercicio }}</td>
                    <td>{{ acgpt812.ano_base }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
 <div class="pagination">
    <span class="step-links">
        {% if order.has_previous %}
           <a href="?page={{ order.previous_page_number }}">Página anterior</a>
         {% endif %}
        <span class="current">
            Página {{ order.number }} de {{ order.paginator.num_pages }}.
        </span>
         {% if order.has_next %}
            <a href="?page={{ order.next_page_number }}">Próxima página</a>
        {% endif %}
  </span>
 </div>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Importar dados
</button>
</div>
<!-- /.container-fluid -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Importar dados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    {% for remessa in lista %}
                    <a href="{% url 'import_acgpt812' pk=remessa.pk %}">
                    <label>{{remessa.id}} - {{remessa.arquivo}}
                    </label></a>
                    {% endfor %}


                </div>


            </div>

        </div>
    </div>
</div>
{% endblock %}