{% extends 'base.html' %}
{% block title %}
ACGPR051
{% endblock title %}
{% block content %}
<form method="get">
    <div class="col-lg-12">
        <div class="input-group">
    <span>
        <div class="form-group col-md-20">
      <select id="inputState" class="form-control" name="t">
        <option selected>Escolha o tipo de filtro</option>
          <option value="inscricao">Pesquisar por inscrição</option>
          <option value="numero_nf">Pesquisar por número de NF</option>
          <option value="data">Pesquisar por data</option>
          <option value="cod_mun">Pesquisar por código de município</option>
          <option value="remessa">Pesquisar por remessa</option>
      </select>
    </div>
    </span>
            <input type="text" class="form-control" name="q" placeholder="Buscar por filtro">
            <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Pesquisar</button>
      </span>
        </div>
    </div>
</form>
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>INSCRIÇÃO</th>
                    <th>RAZÃO SOCIAL</th>
                    <th>NÚMERO NF</th>
                    <th>DATA</th>
                    <th>CFOP</th>
                    <th>VALOR</th>
                    <th>COD MUN</th>
                </tr>
                </thead>

                <tbody>
                {% for acgpr051 in order %}
                <tr>
                    <td>{{ acgpr051.inscricao }}</td>
                    <td>{{ acgpr051.razao_social }}</td>
                    <td>{{ acgpr051.numero_nf }}</td>
                    <td>{{ acgpr051.data }}</td>
                    <td>{{ acgpr051.cfop }}</td>
                    <td>{{ acgpr051.valor }}</td>
                    <td>{{ acgpr051.cod_mun }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
 <div class="pagination">
    <span class="step-links">
        {% if order.has_previous %}
           <a href="?page={{ order.previous_page_number }}">Página anterior</a>
         {% endif %}
        <span class="current">
            Página {{ order.number }} de {{ order.paginator.num_pages }}.
        </span>
         {% if order.has_next %}
            <a href="?page={{ order.next_page_number }}">Próxima página</a>
        {% endif %}
  </span>
 </div>
<br>
{% if request.user.is_staff == True %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Importar dados
</button>

<!-- /.container-fluid -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Importar dados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    {% for remessa in lista %}
                    <a href="{% url 'import_acgpr051' pk=remessa.pk %}">
                    <label>{{remessa.id}} - {{remessa.arquivo}}
                    </label></a>
                    {% endfor %}


                </div>


            </div>

        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endif %}
{% endblock %}