{% extends 'base.html' %}
{% block title %}
CAP
{% endblock title %}
{% block content %}
<form method="get">
    <div class="col-lg-12">
        <div class="input-group">
            <div class="form-group col-md-20">
                <select id="inputState" class="form-control" name="e">
                    <option selected>Escolha um ano de exercício</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="input-group">
            <div class="form-group col-md-20">
                <select id="inputState" class="form-control" name="r">
                    <option selected>Escolha uma remessa</option>
                    <option value="R1">R1</option>
                    <option value="R2">R2</option>
                    <option value="R3">R3</option>
                    <option value="R4">R4</option>
                    <option value="R5">R5</option>
                    <option value="R6">R6</option>
                    <option value="R7">R7</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="input-group">
        <div class="form-group col-md-20">
      <select id="inputState" class="form-control" name="t">
        <option selected>Escolha o tipo de filtro</option>
        <option value="nome_inscrito">Pesquisar por nome inscrito</option>
          <option value="ano_base">Pesquisar por ano base</option>
          <option value="nome_pessoa">Pesquisar por nome da pessoa</option>
          <option value="numr_inscricao_estadual">Pesquisar por inscrição</option>
          <option value="cnae">Pesquisar por CNAE</option>
          <option value="nome_municipio">Pesquisar por município</option>
          <option value="remessa">Pesquisar por remessa</option>
      </select>
    </div>
            <input type="text" class="form-control" name="q" placeholder="Buscar por filtro">
            <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Pesquisar</button>
      </span>
        </div>
    </div>
</form>
<div class="card shadow mb-4"><div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">CAP</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>NUMR_INSCRICAO_ESTADUAL</th>
                    <th>NOME_PESSOA</th>
                    <th>NOME_INSCRITO</th>
                    <th>NUMR_DOCUMENTO</th>
                    <th>DESC_DOCUMENTO</th>
                    <th>STATUS</th>
                    <th>TIPO_INSCRITO</th>
                    <th>TIPO_PRODUTOR</th>
                    <th>CODG_CNAE</th>
                    <th>DESC_CNAE</th>
                    <th>DESC_SEGMENTO</th>
                    <th>CODG_MUNICIPIO</th>
                    <th>NOME_MUNICIPIO</th>
                    <th>TIPO_LOGRADOURO_CONTRIBUINTE</th>
                    <th>NOME_LOGRADOURO_CONTRIBUINTE</th>
                    <th>NUMR_LOGRADOURO_CONTRIBUINTE</th>
                    <th>COMPLEMENTO_CONTRIBUINTE</th>
                    <th>BAIRRO_CONTRIBUINTE</th>
                    <th>DDD_TELEFONE_CONTRIBUINTE</th>
                    <th>TELEFONE_CONTRIBUINTE</th>
                    <th>DDD_CELULAR_CONTRIBUINTE</th>
                    <th>CELULAR_CONTRIBUINTE</th>
                    <th>EMAIL_CONTRIBUINTE</th>
                    <th>CODG_CRC</th>
                    <th>NOME_CONTABILISTA</th>
                    <th>MUNICIPIO_CONTABILISTA</th>
                    <th>TIPO_LOGRADOURO_CONTABILISTA</th>
                    <th>NOME_LOGRADOURO_CONTABILISTA</th>
                    <th>NUMR_LOGRADOURO_CONTABILISTA</th>
                    <th>COMPLEMENTO_CONTABILISTA</th>
                    <th>BAIRRO_CONTABILISTA</th>
                    <th>DDD_TELEFONE_CONTABILISTA</th>
                    <th>TELEFONE_CONTABILISTA</th>
                    <th>DDD_CELULAR_CONTABILISTA</th>
                    <th>CELULAR_CONTABILISTA</th>
                    <th>EMAIL_CONTABILISTA</th>
                    <th>REMESSA</th>
                    <th>DESCRIÇÃO</th>
                    <th>ANO EXERCÍCIO</th>
                    <th>ANO BASE</th>
                </tr>
                </thead>

                <tbody>
                {% for cap in order %}
                <tr>
                    <td>{{ cap.numr_inscricao_estadual }}</td>
                    <td>{{ cap.nome_pessoa }}</td>
                    <td>{{ cap.nome_inscrito }}</td>
                    <td>{{ cap.numr_documento }}</td>
                    <td>{{ cap.desc_documento }}</td>
                    <td>{{ cap.status }}</td>
                    <td>{{ cap.tipo_inscrito }}</td>
                    <td>{{ cap.tipo_produtor }}</td>
                    <td>{{ cap.codg_cnae }}</td>
                    <td>{{ cap.desc_cnae }}</td>
                    <td>{{ cap.desc_segmento }}</td>
                    <td>{{ cap.codg_municipio }}</td>
                    <td>{{ cap.nome_municipio }}</td>
                    <td>{{ cap.tipo_logradouro_contribuinte }}</td>
                    <td>{{ cap.nome_logradouro_contribuinte }}</td>
                    <td>{{ cap.numr_logradouro_contribuinte }}</td>
                    <td>{{ cap.complemento_contribuinte }}</td>
                    <td>{{ cap.bairro_contribuinte }}</td>
                    <td>{{ cap.ddd_telefone_contribuinte }}</td>
                    <td>{{ cap.telefone_contribuinte }}</td>
                    <td>{{ cap.ddd_celular_contribuinte }}</td>
                    <td>{{ cap.celular_contribuinte }}</td>
                    <td>{{ cap.email_contribuinte }}</td>
                    <td>{{ cap.codg_crc }}</td>
                    <td>{{ cap.nome_contabilista }}</td>
                    <td>{{ cap.municipio_contabilista }}</td>
                    <td>{{ cap.tipo_logradouro_contabilista }}</td>
                    <td>{{ cap.nome_logradouro_contabilista }}</td>
                    <td>{{ cap.numr_logradouro_contabilista }}</td>
                    <td>{{ cap.complemento_contabilista }}</td>
                    <td>{{ cap.bairro_contabilista }}</td>
                    <td>{{ cap.ddd_telefone_contabilista }}</td>
                    <td>{{ cap.telefone_contabilista }}</td>
                    <td>{{ cap.ddd_celular_contabilista }}</td>
                    <td>{{ cap.celular_contabilista }}</td>
                    <td>{{ cap.email_contabilista }}</td>
                    <td>{{ cap.remessa }}</td>
                    <td>{{ cap.descricao }}</td>
                    <td>{{ cap.ano_exercicio }}</td>
                    <td>{{ cap.ano_base }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
 <div class="pagination">
    <span class="step-links">
        {% if order.has_previous %}
           <a href="?page={{ order.previous_page_number }}">Página anterior</a>
         {% endif %}
        <span class="current">
            Página {{ order.number }} de {{ order.paginator.num_pages }}.
        </span>
         {% if order.has_next %}
            <a href="?page={{ order.next_page_number }}">Próxima página</a>
        {% endif %}
  </span>
 </div>
<br>
<span><a href="{% url 'PRE_RELATORIO_CONTABILISTA' %}"><button type="button" class="btn btn-warning">
    Relatório de contabilistas
</button></a></span>
{% if request.user.is_staff == True %}
<span><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Importar dados
</button></span>
<br>
<br>

<!-- /.container-fluid -->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Importar dados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    {% for remessa in lista %}
                    <a href="{% url 'import_cap' pk=remessa.pk %}">
                    <label>{{remessa.id}} - {{remessa.arquivo}}
                    </label></a>
                    {% endfor %}


                </div>


            </div>

        </div>
    </div>
</div>
{% endif %}
{% endblock %}