{% extends 'base.html' %}

{% load static %}

{% block title %}
Dashboard
{% endblock title %}
{% block content %}

<div class="row">
    <form method="get">{% csrf_token %}
        <div class="col-xl-8 col-lg-12">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Selecione o município:</label>
                    <select name="municipio" class="form-control" required>
                        <option selected>Selecione...</option>
                        <option value="ACORIZAL">ACORIZAL</option>
                        <option value="AGUA BOA">AGUA BOA</option>
                        <option value="ALTA FLORESTA">ALTA FLORESTA</option>
                        <option value="ALTO ARAGUAIA">ALTO ARAGUAIA</option>
                        <option value="ALTO BOA VISTA">ALTO BOA VISTA</option>
                        <option value="ALTO GARCAS">ALTO GARCAS</option>
                        <option value="ALTO PARAGUAI">ALTO PARAGUAI</option>
                        <option value="ALTO TAQUARI">ALTO TAQUARI</option>
                        <option value="APIACAS">APIACAS</option>
                        <option value="ARAGUAIANA">ARAGUAIANA</option>
                        <option value="ARAGUAINHA">ARAGUAINHA</option>
                        <option value="ARAPUTANGA">ARAPUTANGA</option>
                        <option value="ARENAPOLIS">ARENAPOLIS</option>
                        <option value="ARIPUANA">ARIPUANA</option>
                        <option value="BARAO DE MELGACO">BARAO DE MELGACO</option>
                        <option value="BARRA DO BUGRES">BARRA DO BUGRES</option>
                        <option value="BARRA DO GARCAS">BARRA DO GARCAS</option>
                        <option value="BOM JESUS DO ARAGUAIA">BOM JESUS DO ARAGUAIA</option>
                        <option value="BRASNORTE">BRASNORTE</option>
                        <option value="CACERES">CACERES</option>
                        <option value="CAMPINAPOLIS">CAMPINAPOLIS</option>
                        <option value="CAMPO NOVO DO PARECIS">CAMPO NOVO DO PARECIS</option>
                        <option value="CAMPO VERDE">CAMPO VERDE</option>
                        <option value="CAMPOS DE JULIO">CAMPOS DE JULIO</option>
                        <option value="CANABRAVA DO NORTE">CANABRAVA DO NORTE</option>
                        <option value="CANARANA">CANARANA</option>
                        <option value="CARLINDA">CARLINDA</option>
                        <option value="CASTANHEIRA">CASTANHEIRA</option>
                        <option value="CHAPADA DOS GUIMARAES">CHAPADA DOS GUIMARAES</option>
                        <option value="CLAUDIA">CLAUDIA</option>
                        <option value="COCALINHO">COCALINHO</option>
                        <option value="COLIDER">COLIDER</option>
                        <option value="COLNIZA">COLNIZA</option>
                        <option value="COMODORO">COMODORO</option>
                        <option value="CONFRESA">CONFRESA</option>
                        <option value="CONQUISTA D OESTE">CONQUISTA D OESTE</option>
                        <option value="COTRIGUACU">COTRIGUACU</option>
                        <option value="CUIABA">CUIABA</option>
                        <option value="CURVELANDIA">CURVELANDIA</option>
                        <option value="DENISE">DENISE</option>
                        <option value="DIAMANTINO">DIAMANTINO</option>
                        <option value="DOM AQUINO">DOM AQUINO</option>
                        <option value="FELIZ NATAL">FELIZ NATAL</option>
                        <option value="FIGUEIROPOLIS D OESTE">FIGUEIROPOLIS D OESTE</option>
                        <option value="GAUCHA DO NORTE">GAUCHA DO NORTE</option>
                        <option value="GENERAL CARNEIRO">GENERAL CARNEIRO</option>
                        <option value="GLORIA D OESTE">GLORIA D OESTE</option>
                        <option value="GUARANTA DO NORTE">GUARANTA DO NORTE</option>
                        <option value="GUIRATINGA">GUIRATINGA</option>
                        <option value="INDIAVAI">INDIAVAI</option>
                        <option value="IPIRANGA DO NORTE">IPIRANGA DO NORTE</option>
                        <option value="ITANHANGA">ITANHANGA</option>
                        <option value="ITAUBA">ITAUBA</option>
                        <option value="ITIQUIRA">ITIQUIRA</option>
                        <option value="JACIARA">JACIARA</option>
                        <option value="JANGADA">JANGADA</option>
                        <option value="JAURU">JAURU</option>
                        <option value="JUARA">JUARA</option>
                        <option value="JUINA">JUINA</option>
                        <option value="JURUENA">JURUENA</option>
                        <option value="JUSCIMEIRA">JUSCIMEIRA</option>
                        <option value="LAMBARI D OESTE">LAMBARI D OESTE</option>
                        <option value="LUCAS DO RIO VERDE">LUCAS DO RIO VERDE</option>
                        <option value="LUCIARA">LUCIARA</option>
                        <option value="MARCELANDIA">MARCELANDIA</option>
                        <option value="MATUPA">MATUPA</option>
                        <option value="MIRASSOL D OESTE">MIRASSOL D OESTE</option>
                        <option value="NOBRES">NOBRES</option>
                        <option value="NORTELANDIA">NORTELANDIA</option>
                        <option value="NOSSA SRA DO LIVRAMENTO">NOSSA SRA DO LIVRAMENTO</option>
                        <option value="NOVA BANDEIRANTE">NOVA BANDEIRANTE</option>
                        <option value="NOVA BRASILANDIA">NOVA BRASILANDIA</option>
                        <option value="NOVA CANAA DO NORTE">NOVA CANAA DO NORTE</option>
                        <option value="NOVA GUARITA">NOVA GUARITA</option>
                        <option value="NOVA LACERDA">NOVA LACERDA</option>
                        <option value="NOVA MARILANDIA">NOVA MARILANDIA</option>
                        <option value="NOVA MARINGA">NOVA MARINGA</option>
                        <option value="NOVA MONTE VERDE">NOVA MONTE VERDE</option>
                        <option value="NOVA MUTUM">NOVA MUTUM</option>
                        <option value="NOVA NAZARE">NOVA NAZARE</option>
                        <option value="NOVA OLIMPIA">NOVA OLIMPIA</option>
                        <option value="NOVA SANTA HELENA">NOVA SANTA HELENA</option>
                        <option value="NOVA UBIRATA">NOVA UBIRATA</option>
                        <option value="NOVA XAVANTINA">NOVA XAVANTINA</option>
                        <option value="NOVO HORIZONTE DO NORTE">NOVO HORIZONTE DO NORTE</option>
                        <option value="NOVO MUNDO">NOVO MUNDO</option>
                        <option value="NOVO SANTO ANTONIO">NOVO SANTO ANTONIO</option>
                        <option value="NOVO SAO JOAQUIM">NOVO SAO JOAQUIM</option>
                        <option value="PARANAITA">PARANAITA</option>
                        <option value="PARANATINGA">PARANATINGA</option>
                        <option value="PEDRA PRETA">PEDRA PRETA</option>
                        <option value="PEIXOTO DE AZEVEDO">PEIXOTO DE AZEVEDO</option>
                        <option value="PLANALTO DA SERRA">PLANALTO DA SERRA</option>
                        <option value="POCONE">POCONE</option>
                        <option value="PONTAL DO ARAGUAIA">PONTAL DO ARAGUAIA</option>
                        <option value="PONTE BRANCA">PONTE BRANCA</option>
                        <option value="PONTES E LACERDA">PONTES E LACERDA</option>
                        <option value="PORTO ALEGRE DO NORTE">PORTO ALEGRE DO NORTE</option>
                        <option value="PORTO DOS GAUCHOS">PORTO DOS GAUCHOS</option>
                        <option value="PORTO ESPERIDIAO">PORTO ESPERIDIAO</option>
                        <option value="PORTO ESTRELA">PORTO ESTRELA</option>
                        <option value="POXOREO">POXOREO</option>
                        <option value="PRIMAVERA DO LESTE">PRIMAVERA DO LESTE</option>
                        <option value="QUERENCIA">QUERENCIA</option>
                        <option value="RESERVA DO CABACAL">RESERVA DO CABACAL</option>
                        <option value="RIBEIRAO CASCALHEIRA">RIBEIRAO CASCALHEIRA</option>
                        <option value="RIBEIRAOZINHO">RIBEIRAOZINHO</option>
                        <option value="RIO BRANCO">RIO BRANCO</option>
                        <option value="RONDOLANDIA">RONDOLANDIA</option>
                        <option value="RONDONOPOLIS">RONDONOPOLIS</option>
                        <option value="ROSARIO OESTE">ROSARIO OESTE</option>
                        <option value="SALTO DO CEU">SALTO DO CEU</option>
                        <option value="SANTA CARMEM">SANTA CARMEM</option>
                        <option value="SANTA CRUZ DO XINGU">SANTA CRUZ DO XINGU</option>
                        <option value="SANTA RITA DO TRIVELATO">SANTA RITA DO TRIVELATO</option>
                        <option value="SANTA TEREZINHA">SANTA TEREZINHA</option>
                        <option value="SANTO AFONSO">SANTO AFONSO</option>
                        <option value="SANTO ANTONIO DO LESTE">SANTO ANTONIO DO LESTE</option>
                        <option value="SANTO ANTONIO DO LEVERGER">SANTO ANTONIO DO LEVERGER</option>
                        <option value="SAO FELIX DO ARAGUAIA">SAO FELIX DO ARAGUAIA</option>
                        <option value="SAO JOSE DO POVO">SAO JOSE DO POVO</option>
                        <option value="SAO JOSE DO RIO CLARO">SAO JOSE DO RIO CLARO</option>
                        <option value="SAO JOSE DO XINGU">SAO JOSE DO XINGU</option>
                        <option value="SAO JOSE DOS QUATRO MARCOS">SAO JOSE DOS QUATRO MARCOS</option>
                        <option value="SAO PEDRO DA CIPA">SAO PEDRO DA CIPA</option>
                        <option value="SAPEZAL">SAPEZAL</option>
                        <option value="SERRA NOVA DOURADA">SERRA NOVA DOURADA</option>
                        <option value="SINOP">SINOP</option>
                        <option value="SORRISO">SORRISO</option>
                        <option value="TABAPORA">TABAPORA</option>
                        <option value="TANGARA DA SERRA">TANGARA DA SERRA</option>
                        <option value="TAPURAH">TAPURAH</option>
                        <option value="TERRA NOVA DO NORTE">TERRA NOVA DO NORTE</option>
                        <option value="TESOURO">TESOURO</option>
                        <option value="TORIXOREU">TORIXOREU</option>
                        <option value="UNIAO DO SUL">UNIAO DO SUL</option>
                        <option value="VALE DE SAO DOMINGOS">VALE DE SAO DOMINGOS</option>
                        <option value="VARZEA GRANDE">VARZEA GRANDE</option>
                        <option value="VERA">VERA</option>
                        <option value="VILA BELA DA SS TRINDADE">VILA BELA DA SS TRINDADE</option>
                        <option value="VILA RICA">VILA RICA</option>
                    </select>
                </div>

            </div>

            <button type="submit" class="btn btn-primary">Selecionar</button>
        </div>
    </form>
    <div class="col-xl-8 col-lg-12">
        {% for municipio in abc %}
        <div style="float: right;">
            <img src="{% get_static_prefix %}LOGO_MT/{{ municipio.nome }}.png" width="100px;">
        </div>
        {% endfor %}
    </div>
</div>
<br>
<br>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4" style="width: 100%">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                {% for municipio in abc %}
                <h6 class="m-0 font-weight-bold text-primary">Evolução do VA de {{ municipio.nome }}</h6>
                {% endfor %}
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="text-center">

                    <img src="{% static 'img/va_mun_evo.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">"Ranking do VA 2020"</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div>
                    <div class="table-responsive" style="width: 100%; height: 322px;">
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Posição</th>
                                <th>Nome do município</th>
                                <th>Valor adicionado</th>
                                <th>Ano de exercício</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for ranking in lista %}
                            <tr>
                                <td>{{ ranking.posicao }}</td>
                                <td>{{ ranking.municipio }}</td>
                                <td>{{ ranking.vr_adic_ano_exercicio }}</td>
                                <td>{{ ranking.ano_exercicio }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4" style="width: 100%">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                {% for municipio in abc %}
                <h6 class="m-0 font-weight-bold text-primary">Indice de participação de {{ municipio.nome }}</h6>
                {% endfor %}
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="text-center">
                    <img src="{% static 'img/va_ind_par.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                {% for municipio in abc %}
                <h6 class="m-0 font-weight-bold text-primary">Indice de participação por ano - {{ municipio.nome }}</h6>
                {% endfor %}
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div>
                    <div class="table-responsive" style="width: 100%; height: 315px;">
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Valor do indice de participação</th>
                                <th>Ano</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for indice_par in lista2 %}
                            <tr>
                                <td>{{ indice_par.ind_final }}</td>
                                <td>{{ indice_par.ano_exercicio }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4" style="width: 100%">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                {% for municipio in abc %}
                <h6 class="m-0 font-weight-bold text-primary">Indice médio de {{ municipio.nome }}</h6>
                {% endfor %}
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="text-center">
                    <img src="{% static 'img/va_indice_med.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                {% for municipio in abc %}
                <h6 class="m-0 font-weight-bold text-primary">Indice médio por ano - {{ municipio.nome }}</h6>
                {% endfor %}
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div>
                    <div class="table-responsive" style="width: 100%; height: 322px;">
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Valor do indice de participação</th>
                                <th>Ano</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for indice_medio in lista4 %}
                            <tr>
                                <td>{{ indice_medio.iva_med }}</td>
                                <td>{{ indice_medio.ano_exercicio }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4" style="width: 100%">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">VA Total do Estado de Mato Grosso</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="text-center">
                    <img src="{% static 'img/va_estado_graf.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">VA total do estado por ano</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div>
                    <div class="table-responsive" style="width: 100%; height: 322px;">
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Valor do VA do estado</th>
                                <th>Ano</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for va_total_estado in lista3 %}
                            <tr>
                                <td>{{ va_total_estado.vr_adic_ano_exercicio }}</td>
                                <td>{{ va_total_estado.ano_exercicio }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4" style="width: 100%">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Distribuição mensal do ICMS no estado</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="text-center">
                    <img src="{% static 'img/va_distri_estado.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Distribuição mensal</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div>
                    <div class="table-responsive" style="width: 100%; height: 322px;">
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Distribuição</th>
                                <th>Ano</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for distribuicao in lista5 %}
                            <tr>
                                <td>{{ distribuicao.distrib }}</td>
                                <td>{{ distribuicao.ano }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4" style="width: 100%">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                {% for municipio in abc %}
                <h6 class="m-0 font-weight-bold text-primary">Arrecadação média do ICMS - {{ municipio.nome }}</h6>
                {% endfor %}
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="text-center">
                    <img src="{% static 'img/va_arre_ano.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Arrecadação por ano</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div>
                    <div class="table-responsive" style="width: 100%; height: 322px;">
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Arrecadação</th>
                                <th>Ano</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for finali in lista6 %}
                            <tr>
                                <td>{{ finali.arrecad }}</td>
                                <td>{{ finali.ano }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4" style="width: 100%">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                {% for municipio in abc %}
                <h6 class="m-0 font-weight-bold text-primary">Variação de todos os índices - {{ municipio.nome }}</h6>
                {% endfor %}
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="text-center">
                    <img src="{% static 'img/va_indices_ano.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Variação dos índices por ano</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div>
                    <div class="table-responsive" style="width: 100%; height: 322px;">
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Ano</th>
                                <th>Indice médio</th>
                                <th>Indice 75%</th>
                                <th>População</th>
                                <th>UCTI</th>
                                <th>Trib. Propr.</th>
                                <th>Área</th>
                                <th>Coef. Soc.</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for indices in lista7 %}
                            <tr>
                                <td>{{ indices.ano_exercicio }}</td>
                                <td>{{ indices.iva_med }}</td>
                                <td>{{ indices.iva_75 }}</td>
                                <td>{{ indices.populacao }}</td>
                                <td>{{ indices.ucti }}</td>
                                <td>{{ indices.trib_propr }}</td>
                                <td>{{ indices.area }}</td>
                                <td>{{ indices.coef_soc }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4" style="width: 100%">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                {% for municipio in abc %}
                <h6 class="m-0 font-weight-bold text-primary">Valor Adicionado de {{ municipio.nome }} - Atividades
                    econômicas e outros</h6>
                {% endfor %}
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="text-center">
                    <img src="{% static 'img/va_600.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>

</div>
<br>
<h3>Simulação de variação</h3>
<div class="row">
    <form method="get">{% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Selecione o município:</label>
                <select name="municipio_v" class="form-control" required>
                    <option selected>Selecione...</option>
                    <option value="ACORIZAL">ACORIZAL</option>
                    <option value="AGUA BOA">AGUA BOA</option>
                    <option value="ALTA FLORESTA">ALTA FLORESTA</option>
                    <option value="ALTO ARAGUAIA">ALTO ARAGUAIA</option>
                    <option value="ALTO BOA VISTA">ALTO BOA VISTA</option>
                    <option value="ALTO GARCAS">ALTO GARCAS</option>
                    <option value="ALTO PARAGUAI">ALTO PARAGUAI</option>
                    <option value="ALTO TAQUARI">ALTO TAQUARI</option>
                    <option value="APIACAS">APIACAS</option>
                    <option value="ARAGUAIANA">ARAGUAIANA</option>
                    <option value="ARAGUAINHA">ARAGUAINHA</option>
                    <option value="ARAPUTANGA">ARAPUTANGA</option>
                    <option value="ARENAPOLIS">ARENAPOLIS</option>
                    <option value="ARIPUANA">ARIPUANA</option>
                    <option value="BARAO DE MELGACO">BARAO DE MELGACO</option>
                    <option value="BARRA DO BUGRES">BARRA DO BUGRES</option>
                    <option value="BARRA DO GARCAS">BARRA DO GARCAS</option>
                    <option value="BOM JESUS DO ARAGUAIA">BOM JESUS DO ARAGUAIA</option>
                    <option value="BRASNORTE">BRASNORTE</option>
                    <option value="CACERES">CACERES</option>
                    <option value="CAMPINAPOLIS">CAMPINAPOLIS</option>
                    <option value="CAMPO NOVO DO PARECIS">CAMPO NOVO DO PARECIS</option>
                    <option value="CAMPO VERDE">CAMPO VERDE</option>
                    <option value="CAMPOS DE JULIO">CAMPOS DE JULIO</option>
                    <option value="CANABRAVA DO NORTE">CANABRAVA DO NORTE</option>
                    <option value="CANARANA">CANARANA</option>
                    <option value="CARLINDA">CARLINDA</option>
                    <option value="CASTANHEIRA">CASTANHEIRA</option>
                    <option value="CHAPADA DOS GUIMARAES">CHAPADA DOS GUIMARAES</option>
                    <option value="CLAUDIA">CLAUDIA</option>
                    <option value="COCALINHO">COCALINHO</option>
                    <option value="COLIDER">COLIDER</option>
                    <option value="COLNIZA">COLNIZA</option>
                    <option value="COMODORO">COMODORO</option>
                    <option value="CONFRESA">CONFRESA</option>
                    <option value="CONQUISTA D OESTE">CONQUISTA D OESTE</option>
                    <option value="COTRIGUACU">COTRIGUACU</option>
                    <option value="CUIABA">CUIABA</option>
                    <option value="CURVELANDIA">CURVELANDIA</option>
                    <option value="DENISE">DENISE</option>
                    <option value="DIAMANTINO">DIAMANTINO</option>
                    <option value="DOM AQUINO">DOM AQUINO</option>
                    <option value="FELIZ NATAL">FELIZ NATAL</option>
                    <option value="FIGUEIROPOLIS D OESTE">FIGUEIROPOLIS D OESTE</option>
                    <option value="GAUCHA DO NORTE">GAUCHA DO NORTE</option>
                    <option value="GENERAL CARNEIRO">GENERAL CARNEIRO</option>
                    <option value="GLORIA D OESTE">GLORIA D OESTE</option>
                    <option value="GUARANTA DO NORTE">GUARANTA DO NORTE</option>
                    <option value="GUIRATINGA">GUIRATINGA</option>
                    <option value="INDIAVAI">INDIAVAI</option>
                    <option value="IPIRANGA DO NORTE">IPIRANGA DO NORTE</option>
                    <option value="ITANHANGA">ITANHANGA</option>
                    <option value="ITAUBA">ITAUBA</option>
                    <option value="ITIQUIRA">ITIQUIRA</option>
                    <option value="JACIARA">JACIARA</option>
                    <option value="JANGADA">JANGADA</option>
                    <option value="JAURU">JAURU</option>
                    <option value="JUARA">JUARA</option>
                    <option value="JUINA">JUINA</option>
                    <option value="JURUENA">JURUENA</option>
                    <option value="JUSCIMEIRA">JUSCIMEIRA</option>
                    <option value="LAMBARI D OESTE">LAMBARI D OESTE</option>
                    <option value="LUCAS DO RIO VERDE">LUCAS DO RIO VERDE</option>
                    <option value="LUCIARA">LUCIARA</option>
                    <option value="MARCELANDIA">MARCELANDIA</option>
                    <option value="MATUPA">MATUPA</option>
                    <option value="MIRASSOL D OESTE">MIRASSOL D OESTE</option>
                    <option value="NOBRES">NOBRES</option>
                    <option value="NORTELANDIA">NORTELANDIA</option>
                    <option value="NOSSA SRA DO LIVRAMENTO">NOSSA SRA DO LIVRAMENTO</option>
                    <option value="NOVA BANDEIRANTE">NOVA BANDEIRANTE</option>
                    <option value="NOVA BRASILANDIA">NOVA BRASILANDIA</option>
                    <option value="NOVA CANAA DO NORTE">NOVA CANAA DO NORTE</option>
                    <option value="NOVA GUARITA">NOVA GUARITA</option>
                    <option value="NOVA LACERDA">NOVA LACERDA</option>
                    <option value="NOVA MARILANDIA">NOVA MARILANDIA</option>
                    <option value="NOVA MARINGA">NOVA MARINGA</option>
                    <option value="NOVA MONTE VERDE">NOVA MONTE VERDE</option>
                    <option value="NOVA MUTUM">NOVA MUTUM</option>
                    <option value="NOVA NAZARE">NOVA NAZARE</option>
                    <option value="NOVA OLIMPIA">NOVA OLIMPIA</option>
                    <option value="NOVA SANTA HELENA">NOVA SANTA HELENA</option>
                    <option value="NOVA UBIRATA">NOVA UBIRATA</option>
                    <option value="NOVA XAVANTINA">NOVA XAVANTINA</option>
                    <option value="NOVO HORIZONTE DO NORTE">NOVO HORIZONTE DO NORTE</option>
                    <option value="NOVO MUNDO">NOVO MUNDO</option>
                    <option value="NOVO SANTO ANTONIO">NOVO SANTO ANTONIO</option>
                    <option value="NOVO SAO JOAQUIM">NOVO SAO JOAQUIM</option>
                    <option value="PARANAITA">PARANAITA</option>
                    <option value="PARANATINGA">PARANATINGA</option>
                    <option value="PEDRA PRETA">PEDRA PRETA</option>
                    <option value="PEIXOTO DE AZEVEDO">PEIXOTO DE AZEVEDO</option>
                    <option value="PLANALTO DA SERRA">PLANALTO DA SERRA</option>
                    <option value="POCONE">POCONE</option>
                    <option value="PONTAL DO ARAGUAIA">PONTAL DO ARAGUAIA</option>
                    <option value="PONTE BRANCA">PONTE BRANCA</option>
                    <option value="PONTES E LACERDA">PONTES E LACERDA</option>
                    <option value="PORTO ALEGRE DO NORTE">PORTO ALEGRE DO NORTE</option>
                    <option value="PORTO DOS GAUCHOS">PORTO DOS GAUCHOS</option>
                    <option value="PORTO ESPERIDIAO">PORTO ESPERIDIAO</option>
                    <option value="PORTO ESTRELA">PORTO ESTRELA</option>
                    <option value="POXOREO">POXOREO</option>
                    <option value="PRIMAVERA DO LESTE">PRIMAVERA DO LESTE</option>
                    <option value="QUERENCIA">QUERENCIA</option>
                    <option value="RESERVA DO CABACAL">RESERVA DO CABACAL</option>
                    <option value="RIBEIRAO CASCALHEIRA">RIBEIRAO CASCALHEIRA</option>
                    <option value="RIBEIRAOZINHO">RIBEIRAOZINHO</option>
                    <option value="RIO BRANCO">RIO BRANCO</option>
                    <option value="RONDOLANDIA">RONDOLANDIA</option>
                    <option value="RONDONOPOLIS">RONDONOPOLIS</option>
                    <option value="ROSARIO OESTE">ROSARIO OESTE</option>
                    <option value="SALTO DO CEU">SALTO DO CEU</option>
                    <option value="SANTA CARMEM">SANTA CARMEM</option>
                    <option value="SANTA CRUZ DO XINGU">SANTA CRUZ DO XINGU</option>
                    <option value="SANTA RITA DO TRIVELATO">SANTA RITA DO TRIVELATO</option>
                    <option value="SANTA TEREZINHA">SANTA TEREZINHA</option>
                    <option value="SANTO AFONSO">SANTO AFONSO</option>
                    <option value="SANTO ANTONIO DO LESTE">SANTO ANTONIO DO LESTE</option>
                    <option value="SANTO ANTONIO DO LEVERGER">SANTO ANTONIO DO LEVERGER</option>
                    <option value="SAO FELIX DO ARAGUAIA">SAO FELIX DO ARAGUAIA</option>
                    <option value="SAO JOSE DO POVO">SAO JOSE DO POVO</option>
                    <option value="SAO JOSE DO RIO CLARO">SAO JOSE DO RIO CLARO</option>
                    <option value="SAO JOSE DO XINGU">SAO JOSE DO XINGU</option>
                    <option value="SAO JOSE DOS QUATRO MARCOS">SAO JOSE DOS QUATRO MARCOS</option>
                    <option value="SAO PEDRO DA CIPA">SAO PEDRO DA CIPA</option>
                    <option value="SAPEZAL">SAPEZAL</option>
                    <option value="SERRA NOVA DOURADA">SERRA NOVA DOURADA</option>
                    <option value="SINOP">SINOP</option>
                    <option value="SORRISO">SORRISO</option>
                    <option value="TABAPORA">TABAPORA</option>
                    <option value="TANGARA DA SERRA">TANGARA DA SERRA</option>
                    <option value="TAPURAH">TAPURAH</option>
                    <option value="TERRA NOVA DO NORTE">TERRA NOVA DO NORTE</option>
                    <option value="TESOURO">TESOURO</option>
                    <option value="TORIXOREU">TORIXOREU</option>
                    <option value="UNIAO DO SUL">UNIAO DO SUL</option>
                    <option value="VALE DE SAO DOMINGOS">VALE DE SAO DOMINGOS</option>
                    <option value="VARZEA GRANDE">VARZEA GRANDE</option>
                    <option value="VERA">VERA</option>
                    <option value="VILA BELA DA SS TRINDADE">VILA BELA DA SS TRINDADE</option>
                    <option value="VILA RICA">VILA RICA</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Selecione o ano inicial:</label>
                <select name="ano_iv" class="form-control" required>
                    <option selected>Selecione...</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>

                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Selecione o ano final:</label>
                <select name="ano_fv" class="form-control" required>
                    <option selected>Selecione...</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Selecionar</button>
    </form>

</div>
<div class="row">

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Variação das atividades econômicas</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div>
                    <div class="table-responsive" style="width: 100%; height: 322px;">
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Ano</th>
                                <th>Comércio e Indústria</th>
                                <th>Prestadores de Serviço</th>
                                <th>Produção Rural</th>
                                <th>DAR-1/AUT</th>
                                <th>N.A.I</th>
                                <th>Crédito</th>
                                <th>Débito</th>
                                <th>Total</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for resultados_variacao in dfc %}
                            {% for x in resultados_variacao %}
                            <tr>
                                <td>{{ x.com_ind }}</td>
                                <td>{{ x.com_ind }}</td>
                                <td>{{ x.prest_serv }}</td>
                                <td>{{ x.prod_rural }}</td>
                                <td>{{ x.dar_1_aut }}</td>
                                <td>{{ x.nai }}</td>
                                <td>{{ x.credito_ex_off }}</td>
                                <td>{{ x.debito_ex_off }}</td>
                                <td>{{ x.total }}</td>
                            </tr>
                            {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
