{% extends 'base.html' %}

{% load static %}

{% block title %}
Dashboard
{% endblock title %}
{% block content %}
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4" style="width: 100%">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Evolução do VA de Juína</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="text-center">
                    <img src="/code/va_mun_evo.png">
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">"Ranking do VA 2020" (Posição 31º/141)</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div>
                    <div class="table-responsive" style="width: 100%; height: 322px;">
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Posição</th>
                                <th>Nome do município</th>
                                <th>Valor adicionado</th>
                                <th>Ano de exercício</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for ranking in lista %}
                            <tr>
                                <td>{{ ranking.posicao }}</td>
                                <td>{{ ranking.municipio }}</td>
                                <td>{{ ranking.vr_adic_ano_exercicio }}</td>
                                <td>{{ ranking.ano_exercicio }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4" style="width: 100%">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Indice de participação de Juína</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="text-center">
                    <img src="{% static 'img/indice_participacao_juina.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4" >
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Indice de participação por ano - Juína</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div>
                    <div class="table-responsive" style="width: 100%; height: 315px;">
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Valor do indice de participação</th>
                                <th>Ano</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for indice_par in lista2 %}
                            <tr>
                                <td>{{ indice_par.ind_final }}</td>
                                <td>{{ indice_par.ano_exercicio }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4" style="width: 100%">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Indice médio de Juína</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="text-center">
                    <img src="{% static 'img/indice_medio_juina.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4" >
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Indice médio por ano - Juína</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div>
                    <div class="table-responsive" style="width: 100%; height: 322px;">
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Valor do indice de participação</th>
                                <th>Ano</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for indice_medio in lista4 %}
                            <tr>
                                <td>{{ indice_medio.iva_med }}</td>
                                <td>{{ indice_medio.ano_exercicio }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4" style="width: 100%">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">VA Total do Estado de Mato Grosso</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="text-center">
                    <img src="{% static 'img/va_estado.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">VA total do estado por ano</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div>
                    <div class="table-responsive" style="width: 100%; height: 322px;">
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Valor do VA do estado</th>
                                <th>Ano</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for va_total_estado in lista3 %}
                            <tr>
                                <td>{{ va_total_estado.vr_adic_ano_exercicio }}</td>
                                <td>{{ va_total_estado.ano_exercicio }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4" style="width: 100%">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Distribuição do ICMS no estado</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="text-center">
                    <img src="{% static 'img/media_anual2.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Distribuição por ano</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div>
                    <div class="table-responsive" style="width: 100%; height: 322px;">
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Distribuição</th>
                                <th>Ano</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for distribuicao in lista5 %}
                            <tr>
                                <td>{{ distribuicao.distrib }}</td>
                                <td>{{ distribuicao.ano }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4" style="width: 100%">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Arrecadação média do ICMS - Juína</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="text-center">
                    <img src="{% static 'img/arrecadacao_nova.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Arrecadação por ano</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div>
                    <div class="table-responsive" style="width: 100%; height: 322px;">
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Arrecadação</th>
                                <th>Ano</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for finali in lista6 %}
                            <tr>
                                <td>{{ finali.arrecad }}</td>
                                <td>{{ finali.ano }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4" style="width: 100%">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Variação de todos os índices</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="text-center">
                    <img src="{% static 'img/indices.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Variação dos índices por ano</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div>
                    <div class="table-responsive" style="width: 100%; height: 322px;">
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Ano</th>
                                <th>Indice médio</th>
                                <th>Indice 75%</th>
                                <th>População</th>
                                <th>UCTI</th>
                                <th>Trib. Propr.</th>
                                <th>Área</th>
                                <th>Coef. Soc.</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for indices in lista7 %}
                            <tr>
                                <td>{{ indices.ano_exercicio }}</td>
                                <td>{{ indices.iva_med }}</td>
                                <td>{{ indices.iva_75 }}</td>
                                <td>{{ indices.populacao }}</td>
                                <td>{{ indices.ucti }}</td>
                                <td>{{ indices.trib_propr }}</td>
                                <td>{{ indices.area }}</td>
                                <td>{{ indices.coef_soc }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
