{% extends 'base.html' %}

{% block title %}
Inserir dados opcionais de simulação de índices
{% endblock title %}

{% block content %}
<form method="get"> {% csrf_token %}
    <div class="form-row">
        <h2>1 - Selecionar VA do contribuinte</h2>
        <br>
        <div class="form-group col-md-3">
            <label>Digite a inscrição sem pontos do contribuinte desejado</label>
            <input type="text" class="form-control" name="inscricao" placeholder="Digite a inscrição">
        </div>
        <div class="form-group col-md-3">
            <label>Selecione a tabela de onde deseja consultar</label>
            <select name="tabela">
                <option selected>Selecione...</option>
                <option value="GIA">GIA</option>
                <option value="EFD">EFD</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label>Selecione o ano:</label>
            <select name="ano">
                <option selected>Selecione...</option>
                <option value="ano_anterior">Ano anterior</option>
                <option value="ano_atual">Ano atual</option>
            </select>
        </div>
    </div>
    <br>
    <br>
    <div class="form-row">
        <h2>2 - Selecionar VA do município</h2>
        <br>
        <div class="form-group col-md-3">
            <label>Selecionar VA do município atual em porcentagem</label>
            <input type="text" class="form-control" placeholder="Digite a porcentagem do VA"
                   name="va_municipio_atual">
        </div>
        <div class="form-group col-md-3">
            <label>Selecionar VA do município anterior em porcentagem</label>
            <input type="text" class="form-control" placeholder="Digite a porcentagem do VA"
                   name="va_municipio_anterior">
        </div>
    </div>
    <br>
    <br>
    <div class="form-row">
        <h2>3 - Selecionar VA do Estado</h2>
        <br>
        <div class="form-group col-md-3">
            <label>Selecionar VA do estado atual em porcentagem</label>
            <input type="text" class="form-control" placeholder="Digite a porcentagem do VA"
                   name="va_estado_atual">
        </div>
        <div class="form-group col-md-3">
            <label>Selecionar VA do estado anterior em porcentagem</label>
            <input type="text" class="form-control" placeholder="Digite a porcentagem do VA"
                   name="va_estado_anterior">
        </div>
    </div>
    <br>
    <br>
    <div class="form-row">
        <h2>4 - Atividades econômicas</h2>
        <div class="form-group col-md-3">
            <label>Comércio e Indústria</label>
            <input type="text" class="form-control" placeholder="Digite a porcentagem do VA"
                   name="va_comercio">
        </div>
        <div class="form-group col-md-3">
            <label>Produção rural</label>
            <input type="text" class="form-control" placeholder="Digite a porcentagem do VA"
                   name="va_producao_rural">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label>PTS</label>
            <input type="text" class="form-control" placeholder="Digite a porcentagem do VA"
                   name="va_pts">
        </div>
        <div class="form-group col-md-3">
            <label>DAR-1/AUT</label>
            <input type="text" class="form-control" placeholder="Digite a porcentagem do VA"
                   name="va_dar1aut">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label>NAI</label>
            <input type="text" class="form-control" placeholder="Digite a porcentagem do VA"
                   name="va_nai">
        </div>
        <div class="form-group col-md-3">
            <label>CREDITO EXOFF</label>
            <input type="text" class="form-control" placeholder="Digite a porcentagem do VA"
                   name="va_creditoexoff">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label>Total</label>
            <input type="text" class="form-control" placeholder="Digite a porcentagem do VA"
                   name="va_total">
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <h2>VARIAÇÃO % DISTRIBUIÇÃO DO ICMS ESTADO DO MATO GROSSO</h2>
        <div class="form-group col-md-3">
            <label>Selecionar Variação e distribuição em porcentagem</label>
            <input type="text" class="form-control" placeholder="Digite a porcentagem do VA"
                   name="variacao_distribuicao_estado">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Fazer cálculo</button>
</form>


<br>


<form method="post"> {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Resultado em dinheiro</label>
            {% for va_mun_atual_total in municipio_atual %}
            <input type="text" class="form-control" name="resultado_va_municipio_atual"
                   value="{{ va_mun_atual_total.resultado_final }}">
            {% endfor %}
        </div>
        <div class="form-group col-md-3">
            <label>Resultado em dinheiro</label>
            {% for va_mun_anterior_total in municipio_anterior%}
            <input type="text" class="form-control" name="resultado_va_municipio_anterior"
                   value="{{ va_mun_anterior_total.resultado_final }}">
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Resultado em dinheiro</label>
            {% for va_estado_atual_total in estado_atual %}
            <input type="text" class="form-control" name="resultado_va_estado_atual"
                   value="{{ va_estado_atual_total.resultado_final }}">
            {% endfor %}
        </div>
        <div class="form-group col-md-3">
            <label>Resultado em dinheiro</label>
            {% for va_estado_anterior_total in estado_anterior %}
            <input type="text" class="form-control" name="resultado_va_estado_anterior"
                   value="{{ va_estado_anterior_total.resultado_final}}">
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Resultado em dinheiro</label>
            {% for va_comercio_total in comercio %}
            <input type="text" class="form-control" name="resultado_va_comercio"
                   value="{{ va_comercio_total.resultado_final }}">
            {% endfor %}
        </div>

        <div class="form-group col-md-3">
            <label>Resultado em dinheiro</label>
            {% for va_producao_rural_total in prod_rural %}
            <input type="text" class="form-control" name="resultado_va_producao_rural"
                   value="{{ va_producao_rural_total.resultado_final }}">
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label>Resultado em dinheiro</label>
            {% for va_pts_total in pts %}
            <input type="text" class="form-control" name="resultado_va_pts" value="{{ va_pts_total.resultado_final }}">
            {% endfor %}
        </div>

        <div class="form-group col-md-3">
            <label>Resultado em dinheiro</label>
            {% for va_dar1aut_total in dar1aut %}
            <input type="text" class="form-control" name="resultado_va_dar1aut"
                   value="{{ va_dar1aut_total.resultado_final }}">
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label>Resultado em dinheiro</label>
            {% for va_nai_total in nai %}
            <input type="text" class="form-control" name="resultado_va_nai" value="{{ va_nai_total.resultado_final }}">
            {% endfor %}
        </div>
        <div class="form-group col-md-3">
            <label>Resultado em dinheiro</label>
            {% for va_creditoexoff_total in creditoexoff %}
            <input type="text" class="form-control" name="resultado_va_creditoexoff"
                   value="{{ va_creditoexoff_total.resultado_final }}">
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label>Resultado em dinheiro</label>
            {% for va_debitoexoff_total in debitoexoff %}
            <input type="text" class="form-control" name="resultado_va_debitoexoff"
                   value="{{ va_debitoexoff_total.resultado_final }}">
            {% endfor %}
        </div>
        <div class="form-group col-md-3">
            <label>Resultado em dinheiro</label>
            {% for va_total_final in total%}
            <input type="text" class="form-control" name="resultado_va_total"
                   value="{{ va_total_final.resultado_final }}">
            {% endfor %}
        </div>
        <div class="form-group col-md-3">
            <label>Resultado em dinheiro</label>
            {% for variacao_distribuicao_estado_total in variacao_distribuicao_estado %}
            <input type="text" class="form-control" name="resultado_variacao_distribuicao_estado"
                   value="{{ variacao_distribuicao_estado_total.resultado_final }}">
            {% endfor %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar dados</button>
</form>
{% endblock %}