{% extends 'base.html' %}

{% block title %}
Pré simulação
{% endblock title %}

{% block content %}
<form method="post"> {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Selecionar o tipo de relatório</label>
            <select class="form-control" name="tipo_relatorio">
                <option selected>Escolha o tipo de filtro</option>
                <option value="sintetico">Sintético</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label>Selecionar a portaria</label>
            <select class="form-control" name="portaria">
                <option selected></option>
                {% for port in lista %}
                <option value="{{ port.portaria }}">{{ port.portaria }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-3">
            <label>Selecionar tabela</label>
            <select class="form-control" name="tabela">
                <option selected></option>
                <option value="EFD">EFD</option>
                <option value="GIA">GIA</option>
                <option value="DASN">DASN</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label>Selecionar cadastro</label>
            <select class="form-control" name="cadastro">
                <option selected></option>
                <option value="CCI">CCI</option>
                <option value="CAP">CAP</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Gerar relatório</button>
</form>
{% endblock %}
