{% extends 'base.html' %}
{% block title %}
REG_1400_EFD
{% endblock title %}
{% block content %}
<!-- DataTales Example -->
<form method="get">
    <div class="col-lg-12">
        <div class="input-group">
    <span>
        <div class="form-group col-md-20">
      <select id="inputState" class="form-control" name="t">
        <option selected>Escolha o tipo de filtro</option>
          <option value="inscricao">Pesquisar por inscrição</option>
          <option value="contribuinte">Pesquisar por nome</option>
          <option value="ano_base">Pesquisar por ano</option>
          <option value="municipio">Pesquisar por município</option>

      </select>
    </div>
    </span>
            <input type="text" class="form-control" name="q" placeholder="Buscar por filtro">
            <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Pesquisar</button>
      </span>
        </div>
    </div>
</form>
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>INSCRICAO</th>
                    <th>CONTRIBUINTE</th>
                    <th>COD</th>
                    <th>MUNICIPIO</th>
                    <th>DT_INICIAL</th>
                    <th>DT_FINAL</th>
                    <th>CODG</th>
                    <th>MUNICIPIO_REG_1400</th>
                    <th>VR_REG_1400</th>
                    <th>REMESSA</th>
                    <th>DESCRIÇÃO</th>
                    <th>ANO EXERCÍCIO</th>
                    <th>ANO BASE</th>
                </tr>
                </thead>

                <tbody>
                {% for reg_1400_efd in order %}
                <tr>
                    <td>{{ reg_1400_efd.inscricao }}</td>
                    <td>{{ reg_1400_efd.contribuinte }}</td>
                    <td>{{ reg_1400_efd.cod }}</td>
                    <td>{{ reg_1400_efd.municipio }}</td>
                    <td>{{ reg_1400_efd.dt_inicial }}</td>
                    <td>{{ reg_1400_efd.dt_final }}</td>
                    <td>{{ reg_1400_efd.codg }}</td>
                    <td>{{ reg_1400_efd.municipio_reg_1400 }}</td>
                    <td>{{ reg_1400_efd.vr_reg_1400 }}</td>
                    <td>{{ reg_1400_efd.remessa }}</td>
                    <td>{{ reg_1400_efd.descricao }}</td>
                    <td>{{ reg_1400_efd.ano_exercicio }}</td>
                    <td>{{ reg_1400_efd.ano_base }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
 <div class="pagination">
    <span class="step-links">
        {% if order.has_previous %}
           <a href="?page={{ order.previous_page_number }}">Página anterior</a>
         {% endif %}
        <span class="current">
            Página {{ order.number }} de {{ order.paginator.num_pages }}.
        </span>
         {% if order.has_next %}
            <a href="?page={{ order.next_page_number }}">Próxima página</a>
        {% endif %}
  </span>
 </div>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Importar dados
</button>
</div>
<!-- /.container-fluid -->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Importar dados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    {% for remessa in lista %}
                    <a href="{% url 'import_reg_1400_efd' pk=remessa.pk %}">
                        <label>{{remessa.id}} - {{remessa.arquivo}}
                        </label></a>
                    {% endfor %}


                </div>


            </div>

        </div>
    </div>
</div>
{% endblock %}