<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatorio</title>
    <style>
        * {
    box-sizing: border-box;
}
body {
    margin: 50px;
    font-size: 17px;
}

table {
    width: 900px;
}

table thead {
    background-color: #8f8f8f;
}


tbody td {
    padding-top: 10px;
}

tbody tr:hover {
    background-color: #EEE;
}

tbody td {
    border-bottom: 1px solid #CCC;
}

strong {
    width: 13em;
    word-break: break-word;
}

.negative {
    color: #f30808;
}

.exponse {
    padding: 20px 1px;
}
    </style>
</head>
{% for nam in lista %}
<body>

    <h1>SIMULAÇÃO DE RESULTADO x RECEITA DO ICMS DO MUNÍCIPIO</h1>

    <table border="0">
        <thead>
            <tr>
                <th>ANO</th>
                <th>ÌNDICE FIXADO</th>
                <th>ICMS MENSAL R$</th>
                <th>ICMS ANUAL R$</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2016</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2017</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2018</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2019</td>
                <td>0,892964</td>
                <td>R$ 2.043.770,39</td>
                <td>R$ 24.525.244,71</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>0,908968</td>
                <td>R$ 2.303.904,73</td>
                <td>R$ 27.646.856,76</td>
            </tr>
        </tbody>
    </table>

    <table border="0">
        <thead>
            <tr>
                <th>ANO</th>
                <th>ÌNDICE SIMULADO</th>
                <th>ICMS MENSAL R$</th>
                <th>ICMS ANUAL R$</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2016</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2017</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2018</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2019</td>
                <td>0,876398</td>
                <td>R$ 2.005.854,98</td>
                <td>R$ 24.070.259,74</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>0,886370</td>
                <td>R$ 2.246.626,98</td>
                <td>R$ 26.959.523,79</td>
            </tr>
        </tbody>
    </table>

    <p><strong>para conhecimento, realizamos a simulação do índice para evidenciar a diferença</br> negativa no repasse do ICMS caso não houvesse a reversão do VA no cáuculo,</strong></p>

    <table border="0">
        <thead>
            <tr>
                <th>ANO</th>
                <th>DIFEREÇA</th>
                <th>DIF. ICMS MENSAL R$</th>
                <th>DIF. ICMS ANUAL R$</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2016</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2017</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2018</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2019</td>
                <td>-0,016566</td>
                <td>-R$ 37.915,41</td>
                <td>-R$ 454.984,98</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>-0,022598</td>
                <td>-R$ 57.277,75</td>
                <td>-R$ 687.332,96</td>
                <td class="negative">-R$ 1.142.317,94</td>
            </tr>
        </tbody>
    </table>

</body>
{% endfor %}
</html>