{% extends 'base.html' %}

{% block title %}
Criar envio
{% endblock title %}

{% block content %}
<form method="post" enctype="multipart/form-data"> {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-3">
            <label>ID</label>
            <input type="text" class="form-control" name="id" placeholder="Digite o número de identificação da tabela">
        </div>
         <div class="form-group col-md-9">
            <label>Descrição da tabela</label>
            <input type="text" class="form-control" name="descricao_arquivo"
                   placeholder="Insira a descrição da tabela">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Tabela que será importada</label>
            <input type="text" class="form-control" placeholder="Insira o nome da tabela" name="tabela">
        </div>
        <div class="form-group col-md-3">
            <label>Ano base da tabela</label>
            <input type="text" class="form-control" placeholder="Insira o ano base da tabela" name="ano_base">
        </div>
        <div class="form-group col-md-3">
            <label>Ano de exercício</label>
            <input type="text" class="form-control" name="ano_exercicio"
                   placeholder="Insira o ano de exercício da tabela">
        </div>


    </div>
<div class="form-row">
            <div class="form-group col-md-6">
                <label>Arquivo .CSV de tabelas</label>
                <input type="file" accept="text/csv" class="form-control" name="arquivo" placeholder="Carregar tabela">
            </div>

            <div class="form-group col-md-5">
                <label>Data da importação</label>
                <input type="datetime-local" class="form-control" name="data_hora_importacao">
            </div>
        </div>
    <button type="submit" class="btn btn-primary">Importar tabelas</button>
</form>

{% endblock %}