{% extends 'base.html' %}
{% block title %}
Resultado da simulação
{% endblock title %}
{% block content %}
{% for numeros in lista %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Dados da simulação do município: {{ numeros.municipio }}</h6>
    </div>
    <div class="card-body">
        <p><strong>VA do munícipio atual:</strong> {{ numeros.va_do_municipio_atual }}, <strong>VA do estado atual:</strong> {{ numeros.va_do_estado_atual }}</p>
        <p><strong>VA do munícipio anterior:</strong> {{ numeros.va_do_municipio_anterior }}, <strong>VA do estado anterior:</strong> {{ numeros.va_do_estado_anterior }}</p>
        <p><strong>Média do VA do município:</strong> {{ numeros.va_municipio_media }}, <strong>Média do VA do estado:</strong> {{ numeros.va_estado_media }}</p>
        <p><strong>75% da média do VA do município:</strong> {{ numeros.va_municipio_75 }}, <strong>75% da média do VA do estado:</strong> {{ numeros.va_estado_75 }}</p>
        <p><strong>Índice do VA atual:</strong> {{ numeros.indice_va_atual }}, <strong>Índice do VA anterior:</strong> {{ numeros.indice_va_anterior}}</p>
        <p><strong>Índice do VA médio:</strong> {{ numeros.indice_va_medio }}, <strong>75% do índice do VA médio:</strong> {{ numeros.indice_va_medio_75 }}</p>
        <p><strong>UCTI:</strong> {{ numeros.ucti }}, <strong>Trib:</strong> {{ numeros.trib }}</p>
        <p><strong>População:</strong> {{ numeros.populacao }}, <strong>Área:</strong> {{ numeros.area }}</p>
        <p><strong>Coef:</strong> {{ numeros.coef }}</p>
        <p><strong>Índice simulado:</strong> {{ numeros.ind_final }}, <strong>Variação do índice simulado:</strong> {{ numeros.variacao_indice }}</p>
        <p><strong>Variação estimada:</strong> {{ numeros.variacao_estimada }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}