
{% extends 'base.html' %}

{% block title %}
Cadastrar novo usuário
{% endblock title %}
{% if request.user.is_staff == True %}
{% block content %}
<form method="post"> {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Nome completo</label>
            <input type="text" class="form-control" placeholder="Nome completo" name="first_name">
        </div>
        <div class="form-group col-md-3">
            <label>Nome de usuário</label>
            <input type="text" class="form-control" placeholder="Nome de usuário" name="username">
        </div>
        <div class="form-group col-md-6">
            <label>E-mail</label>
            <input type="email" class="form-control" placeholder="E-mail" name="email">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Senha</label>
            <input type="password" class="form-control" name="password" placeholder="Senha">
        </div>
        <div class="form-group col-md-4">
            <label>Tipo de usuário</label>
            <select name="tipo_usuario" class="form-control">
                <option selected>Selecione...</option>
                <option value="administrador">Administrador</option>
                <option value="contabilista">Contabilista</option>
                <option value="usuario">Outros usuários</option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
{% endblock %}
{% endif %}