{% extends 'base.html' %}
{% if request.user.is_staff == True %}
{% block title %}
Editar usuário
{% endblock title %}

{% block content %}
<form method="post"> {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Editar nome completo</label>
      <input type="text" class="form-control"  placeholder="Nome completo" name="first_name" value="{{ usuario.first_name }}">
    </div>
     <div class="form-group col-md-3">
      <label>Editar nome de usuário</label>
      <input type="text" class="form-control"  placeholder="Nome de usuário" name="username" value="{{ usuario.username }}">
    </div>
<div class="form-group col-md-6">
      <label >Editar e-mail</label>
      <input type="email" class="form-control"  placeholder="E-mail" name="email" value="{{ usuario.email }}">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Editar senha(Obrigatório preencher)</label>
      <input type="password" class="form-control" name="password" placeholder="Senha">
    </div>
    <div class="form-group col-md-6">
      <label>Editar tipo de usuário(Obrigatório)</label>
      <select name="tipo_usuario" class="form-control">
        <option selected>Selecione...</option>
        <option value="administrador">Administrador</option>
        <option value="contabilista">Contabilista</option>
        <option value="usuario">Outros usuários</option>

      </select>
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Editar status(Obrigatório)</label>
      <select name="status" class="form-control">
        <option selected>Selecione...</option>
        <option value="ativo">Ativo</option>
        <option value="inativo">Inativo</option>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Atualizar</button>
</form>
{% endblock %}
{% endif %}